/* Genetic algorithm painter */
/* Created by: A.Kovalovs    */
/* All rights reserved       */

body{
	font-family: Arial;
	background-color: #FFDFDF;
}

.field{
	width: 10em;
	height: 10em;
	padding: 0;
	margin-bottom: 0.5em;
	margin-top: 0.5em;
	float: left;
	margin: 0.5em;
}
.field div{
	width: 0.9em;
	height: 0.9em;
	float: left;
	padding: 0;
	margin: 0.05em;
}

.fields {

}

.empty{
	background: white;
}

.red{
	background: #FDAAAA;
}

.title{
	color: #AA5555;
	font-size: 5em;
	width: 100%;
	text-align: center;
	font-family: megaFont;
}

.menu{
	width: 100%;
	float: left;
}

.btn{
	background: #AA5555;
	color: white;
	padding: 0.5em;
	margin: 0.25em;
	width: 10em;
	height: 10em;
	float: left;
	text-align: center;
}

.info{
	background: white;
	color: #AA5555;
	padding: 0.5em;
	margin: 0.25em;
	width: 21.5em;
	height: 10em;
	float: left;
	text-align: center;
	word-wrap: break-word;
	display: none;
}

.infobig{
	background: white;
	color: #AA5555;
	padding: 0.5em;
	margin: 0.25em;
	width: 21.5em;
	height: 20em;
	float: left;
	text-align: center;
	word-wrap: break-word;
	display: none;
}

.infosmall{
	background: white;
	color: #AA5555;
	padding: 0.5em;
	margin: 0.25em;
	width: 10em;
	height: 10em;
	float: left;
	text-align: center;
	word-wrap: break-word;
	display: none;
}